$border_color: #c3c3c3;
$focus_border_color: #188dc3;
$button_bg_color: #cccccc;
$color: #585858;
$bg_color: #efefef;
$bg_color2: #e0e0e0;
$error_bg_color: #efcccc;
$error_color: #581c1c;
$sans_serif_font_family: Tahoma, Arial, sans-serif;
