@import "css3";


.ui_edit {
  background-color: $bg_color;
  border: 1px solid $border_color;
  @include border-radius(2px);
  // @include box-shadow(0, 0, 2px, rgba(0,0,0,0.4), inset);
  &.focus {
    border-color: $focus_border_color;
  }
  &.error {
    background-color: $error_bg_color;
  }
}
.ui_edit_wrap {
  padding: 4px 8px;
}
.ui_edit_input {
  color: $color;
  font-size: 16px;
  font-family: $sans_serif_font_family;
  background-color: transparent;
  border-style: none;
  width: 100%;
  height: 100%;
}
